In [13]:
import os 
import pandas as pd
import spyder as sp
Data = pd.read_csv("Iris_data_sample.csv",index_col=0,na_values=['??','###'])

In [15]:
#Data.describe()
Data.head(-5)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           NaN            1.4           0.2             NaN
3              4.7           3.2            1.3           0.2     Iris-setosa
4              NaN           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            NaN           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
141            6.7           3.1            5.6           2.4  Iris-virginica
142            6.9           3.1            5.1           2.3  Iris-virginica
143            5.8           2.7            5.1           1.9  Iris-virginica
144            6.8           3.2            5.9           2.3  Iris-virginica
145            6.7           3.3            5.7           2.5  Iris-virginica

[145 rows x 5 columns]

In [9]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    object
 1   SepalWidthCm   149 non-null    float64
 2   PetalLengthCm  149 non-null    object
 3   PetalWidthCm   150 non-null    float64
 4   Species        149 non-null    object
dtypes: float64(2), object(3)
memory usage: 7.0+ KB

In [21]:
# Save to Excel
Data.to_excel('file_name.xlsx')